.dropbtn {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #0a9a00;
  font-size: 24px;
}

.showFilters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.hideFilters {
  display: none;
}

.showFilters button {
  padding: 16px 14px;
  font-size: 18px;
  background-color: #0a9a00;
  color: #fff;
  margin: 0px;
  border: none;
}

.showFilters button:hover {
  background-color: #fff;
  color: #0a9a00;
}
