.loanInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loanInformation h4 {
  color: #fff;
  font-size: 24px;
}

.loanInformation .infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loanInformation .infos .info {
  width: 40%;
  margin: 8px;
}

.loanInformation .infos .info h5 {
  color: #20f903;
  font-size: 18px;
  margin: 3px 0px;
}

.loanInformation .infos .info p {
  color: #fff;
  font-size: 18px;
}
