.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav img {
  height: 50px;
  width: 130px;
  margin-left: 20px;
}

.connect {
  margin-right: 20px;
  background-color: #0f3210;
  color: #20f903;
  font-size: 20px;
  padding: 12px 30px;
  border-radius: 16px;
}

.connect:hover {
  background-color: #20f903;
  color: #0f3210;
}

.links {
  margin-right: 20px;
}

.links .link {
  margin: 0px 16px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.links .link:hover {
  color: #20f903;
}

.propose {
  padding: 12px 17px;
  background-color: #fff;
  color: #20f903;
  border-radius: 16px;
  text-decoration: none;
  font-size: 18px;
  margin: 0 16px;
}

.propose:hover {
  background-color: #20f903;
  color: #0f3210;
}
