@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

body {
  background-color: #030503;
  font-family: "DM Sans", sans-serif;
}

.lightgreen {
  color: #20f903;
}

button {
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}
