.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
}

.topBar p {
  color: #fff;
  font-size: 20px;
}

.topBar h3 {
  color: #20f903;
  font-size: 25px;
  font-weight: 500;
}

.loans {
  padding: 10px 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.noLoans {
  font-size: 25px;
  color: #fff;
  text-align: center;
}
