.main {
  width: 100%;
}

.openedLoan {
  width: 100%;
}

.loanGraphics {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  /* padding-left: 60px; */
}

.openedLoan h3 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  margin: 50px 0px;
}

.loans {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loans h3 {
  font-size: 35px;
  width: 50%;
  margin: 8px 0px;
}

.loans button {
  padding: 12px 22px;
  background-color: #20f903;
  color: #000;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  border: none;
  font-weight: 600;
  margin-right: 10px;
}

.proposedNewTerms {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 60px 0px;
}

.buyouts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
